//////////////MAIN/////////////
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.main {
  background-color: $white-color;
  border-radius: 20px;
  margin-top: 2em;
}

.table-wrapper {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  height: auto;
  border-radius: 20px;
  padding: 20px;

  .css-t89xny-MuiDataGrid-columnHeaderTitle {
    font-weight: 600;
  }

  .noProductsDiv {
    display: flex;
    font-size: 18px;
    font-family: "Roboto";
    margin: 10px;
  }

  .inventory-loader {
    align-self: center;
    margin: 20px;
    color: $main-color;
  }

  .tableContainer {
    border: 1px solid #b3b3b3;
    border-radius: 4px;

    .tableHead {
      border-bottom: 1px solid #b3b3b3;
    }
  }
}

///////SEARCH////////////
#search-container {
  margin: 20px 0px 40px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 90vw;

  #searchIcon {
    margin-right: 5px;
  }

  #searchIconAnchor {
    align-self: end;
    margin-right: 4px;
  }

  input {
    height: 80%;
    margin-right: 10px;
    outline: none;
    border: 0;
  }

  .input-div {
    display: flex;
    margin-right: 20px;

    #search {
      width: 140px;
    }
  }

  .locationFilter {
    display: flex;
  }

  .locationIcon {
    margin-left: 24px;
    margin-right: 6px;
    align-self: flex-end;
  }
}

#addNewItemBtn {
  @include flex-center;
  @include roboto-font;
  background: $green-button-color;
  border-color: $green-button-color;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: $white-color;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 10px;
  cursor: pointer;

  svg {
    margin-right: 10px;
  }
}

.lendHomeIcon,
.deleteIcon {
  margin-left: 6px;
  cursor: pointer;
}

.edit-icon,
.deleteIcon {
  cursor: pointer;
}

//////ADD NEW ITEM MODAL/////////
.add-item-modal,
.edit-item-modal {
  position: fixed;
  z-index: 999;
}

.lend-item-form {
  display: flex;
  top: 50%;
  left: 50%;
  height: 40vh;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  align-items: center;

  .lendTitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin: 20px;
  }
}



.lend-item-form .css-1nrlq1o-MuiFormControl-root,
.css-13sljp9,
.css-1h51icj-MuiAutocomplete-root {
  margin: 20px;
  width: 70%;
}

.add-item-form,
.edit-item-form {
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  height: 60vh;
  width: 46vw;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px 0px 40px 0px;

  .row {
    max-height: 100%;
    @include flex-center;
    margin: 20px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;

    #item-description {
      resize: none;
    }

    select:required:invalid {
      color: gray;
    }

    option[value=""][disabled] {
      display: none;
    }
  }

  span {
    justify-content: flex-start;
    @include inter-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $black-color;
  }

  .imgSection {
    @include flex-center;
    flex-direction: column;
    margin: 120px 0 0 10px;
    width: 55%;

    img {
      max-height: 200px;
    }
  }

  .inputField {
    font-size: 12px;

    .MuiInputBase-root::after {
      border-bottom: #b3b3b3;
      width: 140px;
    }

    .MuiInputBase-root::before {
      border-bottom: 1px solid #b3b3b3;
    }

    label {
      color: #b3b3b3;
    }
  }

  #submitFormBtn {
    @include flex-center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    width: 150px;
    height: 36px;
    color: $white-color;
    align-self: center;
    background: $green-button-color;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 4px;
    padding: 8px 30px 8px 30px;
    margin: 10px 0 20px 0;

    &:hover {
      cursor: pointer;
    }
  }

  .spinning-loader {
    align-self: center;
    color: $main-color;
  }

  .img-buttons {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
    width: 130px;

    .upload-button,
    #edit-remove-button,
    #remove-button {
      background: $upload-button-color;
      @include flex-center;
      font-size: 1em;
      line-height: 24px;
      font-weight: 500;
      color: $white-color;
      padding: 8px 18px;
      margin: 10px;
      font-family: "Roboto";
      border: 0;
      font-weight: 500;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }
    }

    #edit-remove-button,
    #remove-button {
      background: $main-color;
    }
  }
}

#lendItemBtn {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  width: 150px;
  height: 36px;
  color: $white-color;
  background: $green-button-color;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 4px;
  padding: 8px 30px 8px 30px;
  margin: 20px 0 20px 0;

  &:hover {
    cursor: pointer;
  }
}

.lendFormWrapper {
  justify-content: space-evenly;
  display: flex;

  .lendFormFields {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .lendFormImage {
    width: 46%;
    align-self: center;
    margin-right: 20px;

    img {
      max-width: 100%;
    }
  }

  .lendItemField .css-13sljp9 {
    margin: 20px;
  }
}

.close-modal-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  z-index: 900;
  cursor: pointer;
}

// body .css-zw3mfo-MuiModal-root-MuiDialog-root {
//   z-index: 0;
// }
.css-1t5wrdm-MuiDataGrid-filterForm {
  display: flex;
  flex-direction: column;
}

////////////RESPONSIVE////////

@media screen and (max-width: 768px) {
  .main {
    height: 88vh;
    width: 90vw;
    justify-content: center;
    align-items: start;
    display: flex;
  }

  #inventoryMain {
    display: block;
  }

  #search-container {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;

    .input-div {
      margin: 12px;
    }

    .locationIcon {
      margin-left: 0;
    }

    .locationFilter {
      margin: 12px;
    }

    #addNewItemBtn {
      margin: 18px;
    }
  }

  .table-wrapper {
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

    .css-12u49z-MuiDataGrid-root {
      width: 700px;
    }
  }

  .add-item-form .img-buttons {
    width: auto;
  }

  .add-item-form,
  .edit-item-form {
    height: 85vh;
    width: 80vw;

    .row {
      max-height: 100%;
      @include flex-center;
      flex-direction: column;
      margin: 20px;
    }

    .left-side {
      position: relative;
      width: 95%;
    }

    .imgSection {
      margin-top: 10px;
      width: 100%;

      .img-buttons {
        flex-direction: row;
      }
    }
  }
}