.LentProductCode{
    width: 25%;
}
.LentProductName{
    width: 18%;
}
.LentProductQty{
    width: 15%;
}
.LentProductStartDate{
    width: 25%;
}
.LentProductEndDate{
    width: 20%;
}
.profilePicAccordion{
    margin-right: 10px;
    align-self: top;
}
 main .css-ahj2mt-MuiTypography-root{
    align-self: end;
}
.lent-items-header{
    display: flex;
    background: $table-header-color;
   @include roboto-font;
    font-weight: 700;
    font-size: 16px;
    justify-content: flex-start;
    padding: 10px;
}
.accordion{
  width: 94%;
}
  .returnBtn{
    background: $main-color;
    cursor: pointer;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    color: $white-color;
    border: 0;
    border-radius: 4px;
    padding: 8px;
    margin-left: 36px;
  }
@media screen and (max-width: 768px) {
    .LentProductCode,
    .LentProductName,
    .LentProductQty,
    .LentProductStartDate,
    .LentProductEndDate {
      padding: 6px;
      text-align: center;
      width: 100%;
      &::before {
        font-weight: 600;
      }
    }
    .returnBtn{
      margin-left: 4px;
    }
    .lent-items-header{
        display: none;
    }
   
    .LentProductCode,
    .LentProductName,
    .LentProductQty,
    .LentProductStartDate {
      border-bottom: 1px solid $table-border-color;
    }
  
    .LentProductEndDate::before {
      content: "End date: ";
    }
    .LentProductStartDate::before {
      content: "Start date: ";
    }
    .LentProductCode::before {
      content: "Code: ";
    }
    .LentProductQty::before {
      content: "Qty: ";
    }
    .LentProductName::before {
      content: "Name    : ";
    }
  }