
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.main{
  background-color: $white-color;
  border-radius: 20px;
  margin-top: 2em;
  width: 78vw;
  height: 85vh;
  overflow-y: auto;
  .marketplace-loader{
    color: $main-color;
   align-self: center;
  }
  .no-products-message {
    display: flex;
justify-content: center;
flex-direction: column;
  font-family: 'Roboto';
  align-items: center;
  font-size: 22px;
  .no-products-icon{
    font-size: 64px;
  }
  }
}
.display-main-container{
 display: flex;
 justify-content: center;
}
#main-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 76vw;
  height: auto;
  border-radius: 20px;
  margin-top: 1em;
}
#no-items-span{
  margin-top: 30vh;
  @include roboto-font;
 font-size: 40px;
}

///////CARD ITEMS/////////////
.card-item {
  width: 280px;
  height: 217px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 1em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  .product-image {
    border-radius: 5px 5px 0 0;
    align-self: center ;
    &:hover{
      cursor: pointer;
    }
    img{
      height: 150px;
    }
  }
  &:hover {
    transform: scale(1.03);
  }
  .selectQty{
    border-bottom: 1px solid $black-color;
  }
  
}

.details {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: $white-color;
  border-radius: 0 0 20px 20px;
  .details-wrapper{
    display: flex;
  }
}
.name-price {
  margin: .8em 1.2em 0.5em 0.5em;
  @include roboto-font;
  font-size: 18px;
  line-height: 21px;
  p {
    margin: 0;
    padding: 0;
  }
  p:first-child {
    font-weight: 500;
  }
  p:last-child {
    font-size: 12px;
    color: $small-details-color;
  }
}
.icon,
.qty {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  align-items: flex-start;
  p {
    font-size: 10px;
    color: $small-details-color;
  }
}
.circle {
  cursor: pointer;
 @include flex-center;
 width: 35px;
 height: 35px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: $main-color;
}

////////////// ITEM DETAILS POPUP////////////
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  height: 60vh;
  background-color: $white-color;
  border-radius: 40px;
  background: url('../../images/modalEllipse.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  p {
    @include roboto-font;
    font-size: 16px;
    line-height: 19px;
  }
  .productImage{
    align-self: center;
  }
  img {
    max-height: 320px;
  }

  section {
    padding: 20px;
    border-radius: 40px;

    p {
      padding: 20px 0px 40px 0px;
    }
    svg {
      position: absolute;
      bottom: 0px;
      right: 0px;
      z-index: -1;
      border-bottom-right-radius: 40px;
    }
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.details-section {
  display: flex;
  justify-content: space-between;
}
.name-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  span {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  small {
    @include roboto-font;
    font-size: 14px;
    color: $small-details-color;
  }
}
.other-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 48px;
  span {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
  }
  small {
    @include roboto-font;
    color: $small-details-color;
  }
}

@media screen and (max-width: 768px) {
  .main, #inventoryMain{
    right: 0;
    position: fixed;
    transition: 0.5s;
    margin: 5%;
  }
  .user{
    display: none;
  }
  .hamburger-aside{
    display: block;
    width: 90vw;
    height: 88vh;
    opacity: 0;
    transition: 0.5s;
    animation: fadeIn .5s ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
 
  .menu-item{
    span{
    @include roboto-font;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
    }
    img{
      margin-right: 10px;
    }
  }
  #greetingContainer{
    flex-direction: row-reverse;
    
  }
 .header .hamburger-icon-container{
   @include flex-center;
    display: inline-block;
    margin: 10px;
  }
  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: $main-color;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-aside {
    transform: translateX(0);
  }
  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  input[type="checkbox"]:checked ~ .line1 {
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .line2 {
    transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ .line3 {
    transform: rotate(-45deg);
  }
  .sidebar{
    display: none;
  }

  .details-section{
    flex-direction: column;

  }
  .other-details{
    justify-content: flex-start;
    align-items: flex-start ;
    margin: 10px 0 0 0 ;
  }
  .modal-content{
    height: 85vh;
    border-radius: 20px;
    .product-image{
      border-radius: 20px;
    }
  }
}
@media screen and (min-width: 769px) {
.sidebar {
  display: block !important;
}
}