
.endDate, .lentProductEndDate{
    width: 15%;
}
.startDate, .lentProductStartDate{
    width: 25%;
}
.productCode, .lentProductCode {
width: 22%;
}
.lentQtyColumn, .lentProductQty{
    width: 20%;
}
.productName, .lentProductName{
    width: 25%;
}

@media screen and (max-width: 768px) {
    .lentProductEndDate,
    .lentProductStartDate,
    .lentProductCode,
    .lentProductQty,
    .lentProductName {
      padding: 6px;
      text-align: center;
      width: 100%;
      &::before {
        font-weight: 600;
      }
    }
   
    .lentProductStartDate,
    .lentProductCode,
    .lentProductQty,
    .lentProductName {
      border-bottom: 1px solid $table-border-color;
    }
    
   
  
    // .ProductNameColumn,
    // .ProductQtyColumn,
    // .ProductPriceColumn,
    // .ProductDateColumn,
    // .ProductStatus {
    //   &::before {
    //     font-weight: 600;
    //   }
    // }
  
    .lentProductEndDate::before {
      content: "End date: ";
    }
    .lentProductStartDate::before {
      content: "Start date: ";
    }
    .lentProductCode::before {
      content: "Code: ";
    }
    .lentProductQty::before {
      content: "Qty: ";
    }
    .lentProductName::before {
      content: "Name    : ";
    }
  }