.ProductStatus {
  .status {
    margin: 0 10px;
  }
}
.extend{
  padding: 12px;
}
.ProductNameColumn {
  width: 26%;
}
.ProductQtyColumn {
  width: 20%;
}
.ProductPriceColumn {
  width: 20%;
}
.ProductDateColumn {
  width: 26%;
}

// .div-wrapper-two{
//   width: 40%;
//   .ProductQtyColumn, .ProductPriceColumn{
//     width: 50%;
//   }
// }

///////RESPONSIVE///////
@media screen and (max-width: 768px) {
  .ProductNameColumn,
  .ProductQtyColumn,
  .ProductPriceColumn,
  .ProductDateColumn,
  .ProductStatus {
    padding: 6px;
    text-align: center;
    width: 100%;
  }
  .popup{
    display: flex;
    justify-content: center;
  }
  .ProductNameColumn,
  .ProductQtyColumn,
  .ProductPriceColumn,
  .ProductDateColumn {
    border-bottom: 1px solid $table-border-color;
  }
  .infoDetails {
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }
  .item-row {
    width: 60vw;
  }

  .ProductNameColumn,
  .ProductQtyColumn,
  .ProductPriceColumn,
  .ProductDateColumn,
  .ProductStatus {
    &::before {
      font-weight: 600;
    }
  }

  .ProductNameColumn::before {
    content: "Name: ";
  }
  .ProductQtyColumn::before {
    content: "Qty: ";
  }
  .ProductPriceColumn::before {
    content: "Price: ";
  }
  .ProductDateColumn::before {
    content: "Order date: ";
  }
  .ProductStatus::before {
    content: "Status: ";
  }
}

@media screen and (min-width: 769px) {

  .popup {
    display: flex;
    align-items: center;
  }
 
  
}
