.infoDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-row {
  display: flex;
  background: $table-header-color;
  border-radius: 10px;
  width: 95%;
 @include roboto-font;
  font-weight: 700;
  font-size: 18px;
  justify-content: flex-start;
  padding: 10px;
}
.item-row {
  width: 95%;
  margin-top: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include roboto-font;
  font-size: 14px;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  
  .completeBtn{
      background: $main-color;
      cursor: pointer;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      color: $white-color;
      border: 0;
      border-radius: 4px;
      padding: 8px;
  }
}
.div-wrapper{
  width: 45%;
  display: flex;
  span{
    width: 33%;
  }
}
.codeColumn{
    width: 15%;
}
.nameColumn{
  width: 15%;
}
.qtyColumn{
  width: 15%;
}
.priceColumn{
  width: 15%;
}

.emailColumn{
  width: 25%;
}
.dateColumn{
  width: 20%;
}
///////////RESPONSIVE//////////
@media screen and (max-width: 768px) {

  .completeBtn{
      margin-bottom: 6px;
  }

  .header-row{
    display: none;
    
  }
  .item-row{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px; 
    flex-direction: column;
    padding: 0 10px;
    
    
    .div-wrapper{
      display: flex;
      border-bottom: 1px solid $table-border-color;
      width: 100%;
     span{
      width: 100%;
      padding: 10px 0;
     }
     
    }
    .dateColumn,.emailColumn{
      width: 100%;
      padding: 10px 0;

     }

    .codeColumn,.qtyColumn,.priceColumn{
      &::before{
        display: block;
      }
    }
    .codeColumn,.qtyColumn,.priceColumn,.emailColumn,.dateColumn{
      &::before{
        font-weight: 600;
      }
    }
    .codeColumn::before{
      content: 'Code ';
      display: block;
    }
    .qtyColumn::before{
      content: 'Qty ';
    }
    .priceColumn::before{
      content: 'Price ';
    }
    .emailColumn::before{
      content: 'Ordered by: ';
    }
    .dateColumn::before{
      content: 'Order date: ';
    }
    .emailColumn{
      width: 100%;
      border-bottom: 1px solid $table-border-color;

    }
  }
}
