.popup {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
   .popuptext {
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    color: $black-color;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: "Roboto";
    text-align: center;
    border-radius: 4px;
    padding: 12px;
  
    span {
      text-align: left;
      font-family: "Roboto";
    }
    .buttons-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button:first-child{
        background: $main-color;
        color: $white-color;
        border: 0;

      }
      button:last-child{
        background: $white-color;
        color: $main-color;
        border: 1px solid $main-color;
      }

      button:first-child, button:last-child {
        margin: 0.5em;
        border-radius: 4px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        font-family: "Roboto";
        padding: 0.2em 1em;
        cursor: pointer;
      }
     
    }
  }

  // .popup .show {
  //   visibility: visible;
  //   -webkit-animation: fadeInAnimation 1s;
  //   animation: fadeInAnimation 1s;
  // }
  
  // @-webkit-keyframes fadeInAnimation {
  //   from {
  //     opacity: 0;
  //   }
  //   to {
  //     opacity: 1;
  //   }
  // }
  
  // @keyframes fadeInAnimation {
  //   from {
  //     opacity: 0;
  //   }
  //   to {
  //     opacity: 1;
  //   }
  // }