$white-color: #fff;
$black-color: #000;
$main-color: #ed1c25;
$table-border-color: #b3b3b3;
$green-button-color: #2e7d32;
$table-header-color: #DADCDD;
$small-details-color: #9A9A9A;
$upload-button-color: #ED6C02